<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="conexionTiendaWatch" connectionString="Data Source=DESKTOP-46TP1A2\SQLEXPRESS;Initial Catalog=watchStore;Integrated Security=True"/>
	</connectionStrings>
</configuration>